@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #d5e1ef;
  --dark: #1f314f;
  --dark-accent: #68778d;
  --white: #ffffff;
}

body {
  background-color: var(--background-color);
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.card {
  background-color: var(--white);
  width: 300px;
  border-radius: 20px;
  text-align: center;

  padding: 16px;
}

.card__img {
  width: 100%;
  border-radius: 10px;
}

.card__heading {
  font-size: 22px;
  line-height: 120%;
  color: var(--dark);

  padding-top: 24px;
}

.card__content {
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--dark-accent);
  padding: 16px 0 40px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
